<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Basic Social Network</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= render "layouts/header" %>
    <div class="container">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %>"><%= message %></div>
      <% end %>
      <div id="<%= controller_name %>">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
